@charset "UTF-8";

/* Layout Medium Screens */

header {
	height: 519px;
	/*background: url(../img/cp_banner_medium.jpg) no-repeat 90% 0px;*/
}

.innerHead {
	height: 519px;
	background: url(../img/cp_banner_medium.jpg) no-repeat 90% 0px;
}

header a.logo {
	width: 360px;
	height: 22px;
	top: 175px;
	background-image: url(../img/cp_logo_medium.png);
}

.nav {
	top: 209px;
	margin-left: 84px;
}

footer {
	position: absolute;
	bottom: 10px;
}

body {
	background-image: none;
}
